<div id="clusters">
  <div id="cluster-container">
    <%= pacman_loading_animation %>
    <div class="cluster thumbnail fact-highscore-list empty">
      <ul class="cluster-list"></ul>
    </div>
  </div>
</div>
