<div class="hover-box empty thumbnail">
  <div class="pull-left hover-image">
    <img class="hover-image"/>
  </div>
  <div class="hover-info">
    <h4 class="title">Inglorious basterds</h4>
    <span class="attribute">Released:</span> <span class="released"></span><br />
    <span class="attribute">Rovi rating:</span> <span class="rating"></span><br />
    <span class="attribute">Genres:</span> <span class="genres"></span>
  </div>
</div>
