<div class="hero-unit" id="nerd_facts_box">
  <div class="tabbable">
    <ul id="nerd-tabs" class="nav nav-tabs">
      <li><a href="#tab1" data-toggle="tab" class="centrality">Centrality</a></li>
      <li><a href="#tab2" data-toggle="tab" class="clusters">Clusters</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%= render 'centrality' %>
      </div>
      <div class="tab-pane" id="tab2">
        <%= render 'clusters' %>
      </div>
    </div>
  </div>

  <a id="nerd_facts_show_hide" class="btn btn-primary btn-large" style="left: 0px">Nerd Facts</a>
</div>
