<div class="hero-unit" id="nerd_facts_box">
  <div class="tabbable">
    <ul id="nerd-tabs" class="nav nav-tabs">
      <li><a href="#tab1" data-toggle="tab" class="centrality">Centrality</a></li>
      <li><a href="#tab2" data-toggle="tab" class="clusters">Clusters</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%= render 'centrality' %>
      </div>
      <div class="tab-pane" id="tab2">
        <%= render 'clusters' %>
      </div>
    </div>
  </div>

  <%= link_to "#", id: "nerd_facts_show_hide"  do %>
    <span class="open btn btn-primary btn-large">
      <i class="icon-chevron-left icon-white"></i>
      Nerd facts
    </span>
    <span class="closed btn btn-danger btn-large">
      <i class="icon-chevron-right icon-white"></i>
    </span>
  <% end %>
</div>
