<div id="moviz" class="page">
<h1>MoviZ</h1>
<% unless @movie.nil? %>
  <h2><%= @movie.title %></h2>
  <%= image_tag(@movie.image_url) %>
  <h2>Related movies</h2>
  <% @movie.related.each do |movie| %>
    <h3><%= movie.title %></h3>
  <% end %>
<% end %>
<div id="chart"></div>
<h2>Some text</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac sodales ipsum. Fusce molestie cursus elementum. Vestibulum mollis convallis velit, at mollis lorem gravida sagittis. Ut suscipit ultricies dolor, sed dapibus libero congue sed. Suspendisse quis nisi diam, id luctus lectus. Donec egestas, purus mollis hendrerit hendrerit, diam sem facilisis risus, at vestibulum lectus tortor eu lacus. Duis sollicitudin, risus congue gravida venenatis, libero dui tincidunt leo, ac tempor mauris odio eget justo. Fusce ultricies imperdiet sodales. Nunc faucibus commodo libero. Etiam nulla erat, ornare sit amet fermentum quis, consequat eget dui.
</p>
<p>
Donec ante dolor, scelerisque eu interdum vel, dapibus a erat. Curabitur convallis tristique leo vitae congue. Etiam metus urna, tempor a semper nec, convallis ut turpis. Pellentesque est nunc, facilisis eget tristique id, varius convallis quam. Integer at felis risus, nec bibendum nulla. Vivamus ultricies consequat velit, feugiat pulvinar neque mattis ac. Vivamus accumsan hendrerit eros, eget posuere justo mattis condimentum. Pellentesque non feugiat risus. Aenean et nisl quis ipsum vehicula rhoncus. Vivamus vel velit sapien, ut auctor massa. Quisque mollis nunc nec metus sodales sit amet vestibulum augue volutpat. Integer vel nisi diam, id aliquet massa. Quisque gravida dictum pretium. Duis et mauris orci. Donec scelerisque feugiat pretium. Morbi quis tellus in tortor tempus consequat.
</p>
<p>
Integer diam tortor, fermentum eget semper quis, bibendum vel orci. Praesent blandit nunc semper arcu imperdiet vel consequat nisi tristique. Vivamus in tellus mattis diam fringilla pretium. Vestibulum mattis posuere congue. Mauris nec ipsum imperdiet massa adipiscing tempus. Donec sit amet gravida massa. Aliquam erat volutpat. Ut quis laoreet leo. Sed massa dui, mattis quis tempus eget, faucibus nec tortor. Ut non nisi vitae nunc viverra lobortis non sit amet eros. In hac habitasse platea dictumst. Nam nunc urna, convallis at commodo quis, venenatis ut lorem.
</p>
<p>
Sed pellentesque, arcu nec feugiat ullamcorper, nisl odio tempus ligula, vel pharetra est magna non nisl. Suspendisse potenti. Vestibulum et sagittis massa. Nunc sodales consectetur lorem, a pharetra odio sollicitudin at. Quisque mollis diam at orci dapibus congue. Sed porta ultrices nulla vitae hendrerit. Mauris congue lectus cursus lacus gravida sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse tristique, massa eget feugiat tempus, leo risus rhoncus leo, vel rhoncus risus leo vitae sapien. Vestibulum nisi mauris, suscipit at auctor malesuada, molestie sed orci. Donec a sem dolor. Duis at ante lacus, at consectetur leo. Duis sapien ipsum, pulvinar vel pulvinar quis, molestie vitae odio. Nulla convallis consectetur ipsum non volutpat. Ut fringilla porttitor iaculis.
</p>
<p>
Quisque convallis nisl nec orci rutrum eget mattis ligula blandit. Praesent quam est, pellentesque eu hendrerit sed, iaculis non nibh. Maecenas libero dui, eleifend ac ultricies ut, pulvinar vitae eros. Sed tempor augue sed mi eleifend non dictum est condimentum. Aenean aliquet, erat eu posuere semper, erat nibh posuere orci, sit amet gravida diam mauris at eros. Sed non mauris a dui fringilla auctor ac at magna. In diam neque, tempus eget rutrum ac, hendrerit et justo.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac sodales ipsum. Fusce molestie cursus elementum. Vestibulum mollis convallis velit, at mollis lorem gravida sagittis. Ut suscipit ultricies dolor, sed dapibus libero congue sed. Suspendisse quis nisi diam, id luctus lectus. Donec egestas, purus mollis hendrerit hendrerit, diam sem facilisis risus, at vestibulum lectus tortor eu lacus. Duis sollicitudin, risus congue gravida venenatis, libero dui tincidunt leo, ac tempor mauris odio eget justo. Fusce ultricies imperdiet sodales. Nunc faucibus commodo libero. Etiam nulla erat, ornare sit amet fermentum quis, consequat eget dui.
</p>
<p>
Donec ante dolor, scelerisque eu interdum vel, dapibus a erat. Curabitur convallis tristique leo vitae congue. Etiam metus urna, tempor a semper nec, convallis ut turpis. Pellentesque est nunc, facilisis eget tristique id, varius convallis quam. Integer at felis risus, nec bibendum nulla. Vivamus ultricies consequat velit, feugiat pulvinar neque mattis ac. Vivamus accumsan hendrerit eros, eget posuere justo mattis condimentum. Pellentesque non feugiat risus. Aenean et nisl quis ipsum vehicula rhoncus. Vivamus vel velit sapien, ut auctor massa. Quisque mollis nunc nec metus sodales sit amet vestibulum augue volutpat. Integer vel nisi diam, id aliquet massa. Quisque gravida dictum pretium. Duis et mauris orci. Donec scelerisque feugiat pretium. Morbi quis tellus in tortor tempus consequat.
</p>
</div>

<div id="about" class="page">
<h1>About</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac sodales ipsum. Fusce molestie cursus elementum. Vestibulum mollis convallis velit, at mollis lorem gravida sagittis. Ut suscipit ultricies dolor, sed dapibus libero congue sed. Suspendisse quis nisi diam, id luctus lectus. Donec egestas, purus mollis hendrerit hendrerit, diam sem facilisis risus, at vestibulum lectus tortor eu lacus. Duis sollicitudin, risus congue gravida venenatis, libero dui tincidunt leo, ac tempor mauris odio eget justo. Fusce ultricies imperdiet sodales. Nunc faucibus commodo libero. Etiam nulla erat, ornare sit amet fermentum quis, consequat eget dui.
</p>
<p>
Donec ante dolor, scelerisque eu interdum vel, dapibus a erat. Curabitur convallis tristique leo vitae congue. Etiam metus urna, tempor a semper nec, convallis ut turpis. Pellentesque est nunc, facilisis eget tristique id, varius convallis quam. Integer at felis risus, nec bibendum nulla. Vivamus ultricies consequat velit, feugiat pulvinar neque mattis ac. Vivamus accumsan hendrerit eros, eget posuere justo mattis condimentum. Pellentesque non feugiat risus. Aenean et nisl quis ipsum vehicula rhoncus. Vivamus vel velit sapien, ut auctor massa. Quisque mollis nunc nec metus sodales sit amet vestibulum augue volutpat. Integer vel nisi diam, id aliquet massa. Quisque gravida dictum pretium. Duis et mauris orci. Donec scelerisque feugiat pretium. Morbi quis tellus in tortor tempus consequat.
</p>
<p>
Integer diam tortor, fermentum eget semper quis, bibendum vel orci. Praesent blandit nunc semper arcu imperdiet vel consequat nisi tristique. Vivamus in tellus mattis diam fringilla pretium. Vestibulum mattis posuere congue. Mauris nec ipsum imperdiet massa adipiscing tempus. Donec sit amet gravida massa. Aliquam erat volutpat. Ut quis laoreet leo. Sed massa dui, mattis quis tempus eget, faucibus nec tortor. Ut non nisi vitae nunc viverra lobortis non sit amet eros. In hac habitasse platea dictumst. Nam nunc urna, convallis at commodo quis, venenatis ut lorem.
</p>
<p>
Sed pellentesque, arcu nec feugiat ullamcorper, nisl odio tempus ligula, vel pharetra est magna non nisl. Suspendisse potenti. Vestibulum et sagittis massa. Nunc sodales consectetur lorem, a pharetra odio sollicitudin at. Quisque mollis diam at orci dapibus congue. Sed porta ultrices nulla vitae hendrerit. Mauris congue lectus cursus lacus gravida sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse tristique, massa eget feugiat tempus, leo risus rhoncus leo, vel rhoncus risus leo vitae sapien. Vestibulum nisi mauris, suscipit at auctor malesuada, molestie sed orci. Donec a sem dolor. Duis at ante lacus, at consectetur leo. Duis sapien ipsum, pulvinar vel pulvinar quis, molestie vitae odio. Nulla convallis consectetur ipsum non volutpat. Ut fringilla porttitor iaculis.
</p>
<p>
Quisque convallis nisl nec orci rutrum eget mattis ligula blandit. Praesent quam est, pellentesque eu hendrerit sed, iaculis non nibh. Maecenas libero dui, eleifend ac ultricies ut, pulvinar vitae eros. Sed tempor augue sed mi eleifend non dictum est condimentum. Aenean aliquet, erat eu posuere semper, erat nibh posuere orci, sit amet gravida diam mauris at eros. Sed non mauris a dui fringilla auctor ac at magna. In diam neque, tempus eget rutrum ac, hendrerit et justo.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac sodales ipsum. Fusce molestie cursus elementum. Vestibulum mollis convallis velit, at mollis lorem gravida sagittis. Ut suscipit ultricies dolor, sed dapibus libero congue sed. Suspendisse quis nisi diam, id luctus lectus. Donec egestas, purus mollis hendrerit hendrerit, diam sem facilisis risus, at vestibulum lectus tortor eu lacus. Duis sollicitudin, risus congue gravida venenatis, libero dui tincidunt leo, ac tempor mauris odio eget justo. Fusce ultricies imperdiet sodales. Nunc faucibus commodo libero. Etiam nulla erat, ornare sit amet fermentum quis, consequat eget dui.
</p>
<p>
Donec ante dolor, scelerisque eu interdum vel, dapibus a erat. Curabitur convallis tristique leo vitae congue. Etiam metus urna, tempor a semper nec, convallis ut turpis. Pellentesque est nunc, facilisis eget tristique id, varius convallis quam. Integer at felis risus, nec bibendum nulla. Vivamus ultricies consequat velit, feugiat pulvinar neque mattis ac. Vivamus accumsan hendrerit eros, eget posuere justo mattis condimentum. Pellentesque non feugiat risus. Aenean et nisl quis ipsum vehicula rhoncus. Vivamus vel velit sapien, ut auctor massa. Quisque mollis nunc nec metus sodales sit amet vestibulum augue volutpat. Integer vel nisi diam, id aliquet massa. Quisque gravida dictum pretium. Duis et mauris orci. Donec scelerisque feugiat pretium. Morbi quis tellus in tortor tempus consequat.
</p>
</div>

<div id="how" class="page">
<h1>Something</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac sodales ipsum. Fusce molestie cursus elementum. Vestibulum mollis convallis velit, at mollis lorem gravida sagittis. Ut suscipit ultricies dolor, sed dapibus libero congue sed. Suspendisse quis nisi diam, id luctus lectus. Donec egestas, purus mollis hendrerit hendrerit, diam sem facilisis risus, at vestibulum lectus tortor eu lacus. Duis sollicitudin, risus congue gravida venenatis, libero dui tincidunt leo, ac tempor mauris odio eget justo. Fusce ultricies imperdiet sodales. Nunc faucibus commodo libero. Etiam nulla erat, ornare sit amet fermentum quis, consequat eget dui.
</p>
<p>
Donec ante dolor, scelerisque eu interdum vel, dapibus a erat. Curabitur convallis tristique leo vitae congue. Etiam metus urna, tempor a semper nec, convallis ut turpis. Pellentesque est nunc, facilisis eget tristique id, varius convallis quam. Integer at felis risus, nec bibendum nulla. Vivamus ultricies consequat velit, feugiat pulvinar neque mattis ac. Vivamus accumsan hendrerit eros, eget posuere justo mattis condimentum. Pellentesque non feugiat risus. Aenean et nisl quis ipsum vehicula rhoncus. Vivamus vel velit sapien, ut auctor massa. Quisque mollis nunc nec metus sodales sit amet vestibulum augue volutpat. Integer vel nisi diam, id aliquet massa. Quisque gravida dictum pretium. Duis et mauris orci. Donec scelerisque feugiat pretium. Morbi quis tellus in tortor tempus consequat.
</p>
<p>
Integer diam tortor, fermentum eget semper quis, bibendum vel orci. Praesent blandit nunc semper arcu imperdiet vel consequat nisi tristique. Vivamus in tellus mattis diam fringilla pretium. Vestibulum mattis posuere congue. Mauris nec ipsum imperdiet massa adipiscing tempus. Donec sit amet gravida massa. Aliquam erat volutpat. Ut quis laoreet leo. Sed massa dui, mattis quis tempus eget, faucibus nec tortor. Ut non nisi vitae nunc viverra lobortis non sit amet eros. In hac habitasse platea dictumst. Nam nunc urna, convallis at commodo quis, venenatis ut lorem.
</p>
<p>
Sed pellentesque, arcu nec feugiat ullamcorper, nisl odio tempus ligula, vel pharetra est magna non nisl. Suspendisse potenti. Vestibulum et sagittis massa. Nunc sodales consectetur lorem, a pharetra odio sollicitudin at. Quisque mollis diam at orci dapibus congue. Sed porta ultrices nulla vitae hendrerit. Mauris congue lectus cursus lacus gravida sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse tristique, massa eget feugiat tempus, leo risus rhoncus leo, vel rhoncus risus leo vitae sapien. Vestibulum nisi mauris, suscipit at auctor malesuada, molestie sed orci. Donec a sem dolor. Duis at ante lacus, at consectetur leo. Duis sapien ipsum, pulvinar vel pulvinar quis, molestie vitae odio. Nulla convallis consectetur ipsum non volutpat. Ut fringilla porttitor iaculis.
</p>
<p>
Quisque convallis nisl nec orci rutrum eget mattis ligula blandit. Praesent quam est, pellentesque eu hendrerit sed, iaculis non nibh. Maecenas libero dui, eleifend ac ultricies ut, pulvinar vitae eros. Sed tempor augue sed mi eleifend non dictum est condimentum. Aenean aliquet, erat eu posuere semper, erat nibh posuere orci, sit amet gravida diam mauris at eros. Sed non mauris a dui fringilla auctor ac at magna. In diam neque, tempus eget rutrum ac, hendrerit et justo.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac sodales ipsum. Fusce molestie cursus elementum. Vestibulum mollis convallis velit, at mollis lorem gravida sagittis. Ut suscipit ultricies dolor, sed dapibus libero congue sed. Suspendisse quis nisi diam, id luctus lectus. Donec egestas, purus mollis hendrerit hendrerit, diam sem facilisis risus, at vestibulum lectus tortor eu lacus. Duis sollicitudin, risus congue gravida venenatis, libero dui tincidunt leo, ac tempor mauris odio eget justo. Fusce ultricies imperdiet sodales. Nunc faucibus commodo libero. Etiam nulla erat, ornare sit amet fermentum quis, consequat eget dui.
</p>
<p>
Donec ante dolor, scelerisque eu interdum vel, dapibus a erat. Curabitur convallis tristique leo vitae congue. Etiam metus urna, tempor a semper nec, convallis ut turpis. Pellentesque est nunc, facilisis eget tristique id, varius convallis quam. Integer at felis risus, nec bibendum nulla. Vivamus ultricies consequat velit, feugiat pulvinar neque mattis ac. Vivamus accumsan hendrerit eros, eget posuere justo mattis condimentum. Pellentesque non feugiat risus. Aenean et nisl quis ipsum vehicula rhoncus. Vivamus vel velit sapien, ut auctor massa. Quisque mollis nunc nec metus sodales sit amet vestibulum augue volutpat. Integer vel nisi diam, id aliquet massa. Quisque gravida dictum pretium. Duis et mauris orci. Donec scelerisque feugiat pretium. Morbi quis tellus in tortor tempus consequat.
</p>
</div>

<% content_for :document_ready do %>
<% end %>
