<span class="image-wrap" style="position:relative; background: url('<%= params[:image] %>') no-repeat center; display:inline-block; width: 30px; height: 30px; -webkit-border-radius: 25em; -moz-border-radius: 25em; border-radius: 25em;">
</span>
