The higher Closeness centrality the lower sum of distances to all other movies. This means that if Closeness centrality is high for a movie then this movie is close to all other movies. This tell something about that is has a lot in common to all the other movies.

