%p 
	%strong How i ever told you how amazing you are? No? You are REALLY amazing!
	
%p And so is this page! Here you can se all movie communities that we have detected in your current network.
A community is a group of movies, that stands out from the rest of the movies. So even if all the movies in your graph is similiar, some of them will have really much in common and thereby be grouped together in a community.

%p To visualize each community, can you just hover over a community box. The movies in that community will then be highlighted by a red border. Isn't that just lovely?

%p Try this now.

%p.text-info 
	%strong Hover over a community box, to see the movies being highlighted in the graph.