%p 
	%strong Perfect! You are a natural!
	You have know expanded the network with some more similar movies. You can see which movies that are similar to each other by following the lines between them.

%p To get more information on a movie, you can always hold the mouse over them. You can also double click on a movie, to get full description, casting actors, and much more.

%p Try this now.

%p.text-info 
	%strong Double click on a movie, to get full description.