%p 
	%strong Your skills are amazing! And I really don't say this to everyone!
	
%p 
	Here can you see different analysis stats for network graphs, like centrality and clustering coefficients. 
	You can hold over every title to get a popup with more information of each measurement, or you can click them to get to a complete description. 
	
%p You can also hover over the movie titles, and they will then be highlighted in the graph. Pretty impressive stuff right?

%p Now lets continue to the communities tap.

%p.text-info 
	%strong Click the community tap, in the nerd facts box.