%p 
	%strong Wow, amazing you just get it! 
	
%p Time for celebration, you have completed the tutorial!

%p.text-info 
	%strong 
		Let's start playing!
%p= link_to "End tutorial", "#", id: "end-tutorial", class: "btn btn-success"