%p 
	%strong You are a quick learner! Incredible, keep going!
	Now as you load more movies in, you will see that some of them tends to group together. MoviZ provides you with a lot of stats about how the movies corresponds to each other i terms of similarities. All these stats are availiable under the "Nerd Facts" tap, which can be shown by clicking the Nerd Facts button to the right.

%p Try this now.

%p.text-info 
	%strong Click the Nerd Facts button, to show all the amazing stats.