.text#step-1
	%p 
		%strong Welcome to MoviZ!

	%p What you are watching here is a small, but awesome network graph! You see the movie you chosen and the four most similar movies. You can expand the network even more. You do this by clicking on another movie. Similiar movies, to the one you have clicked on, will then pop up.

	%p Try this now.

	%p.text-info
		%strong Click on a movie, to load more similar movies.