/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/
@import 'bootstrap';

$top-gap: 40px;

#footer {
  background-color: #f5f5f5;
  height: 60px;
}

.credit {
  margin: 40px 0;
  color: gray;
  font-size: 1.2em;

  .name {
    color: darken(gray, 10%);
  }
}

line.link {
  stroke: #ccc;
  stroke-width: 1.5px;
}

.container-fluid {
  padding: 0;
  background: lighten(black, 5%);
}

#moviz {
  padding-top: 40px;
}


#theater-container {
  width: 1000px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  overflow: hidden;

  .theater-dashboard {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 225px;
    left: 280px;
    z-index: 11;
    padding: 20px;

    input {
      height: 30px;
      width: 450px;
      font-size: 20px;
      padding: 12px;
    }

    button {
      margin-left: 70px;
      height: 50px;
      font-size: 25px;
      width: 350px;
    }

    #show-button {
      position: absolute;
      z-index: 10;
    }
  }

  #nerd-facts-button {
    position: absolute;
    z-index: 5;
    left: 450px;
    top: 500px;
    display: none;
  }

  .top-curtain {
    width: 1000px;
    z-index: 5;
    height: 90px;
    position: absolute;
    background: url('cinema/top-curtain.png') no-repeat top left;
  }

  .left-curtain, .right-curtain {
    height: 900px;
    width: 500px;
    position: absolute;
    z-index: 2;
  }

  .left-curtain {
    left: 10px;
    background-image: url('cinema/left-curtain.png');
    background-repeat: no-repeat;
    background-position: 0 right;
  }

  .right-curtain {
    right: 10px;
    background-image: url('cinema/right-curtain.png');
    background-repeat: no-repeat;
    background-position: 0 right;
  }

  .seats {
    width: 1000px;
    height: 133px;
    position: absolute;
    bottom: 40px;
    background: url('cinema/seats_invis.png') no-repeat bottom center;
  }

  svg {
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    height: 400px;
    width: 960px;
    z-index: 1;
    position: absolute;
  }
}
