#nerd_facts_box {
  position: absolute;
  width: 425px;
  min-height: 375px;
  padding: 0;
  right: -435px;
  padding: 70px 35px 50px 10px;
  -moz-box-shadow: -2px 2px 2px #999;
  -webkit-box-shadow: -2px 2px 2px #999;
  box-shadow: -2px 2px 2px #999;
  top: 0;

  h3 {
    margin: 0;
  }

  ul#nerd-tabs {
    margin-bottom: 5px;
  }

  #clusters {
    .empty {
      display: none;
    }
    
    .cluster {
      height: 80px;
      overflow: hidden;
    }
  }


  #nerd_facts_show_hide {
    position: absolute;
    display: none;
    top: 100px;
  }

  .fact-highscore-list {
    width: 190px;
    float: left;
    background: darken(#EEE, 10%);
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  #nerd_facts_show_hide {
    left: -115px;
    .closed {
      display: none;
    }
    &:hover{
      left: -120px;
    }
    &.active {
      left: -38px;
      .open {
        display: none;
      }
      .closed {
        display: block;
      }
      &:hover{
        left: -35px;
      }
    } 
  }
}
